.windows{
  padding-top: 0;
  margin-top: 0;
  background-color: white;
  height: 100%;
}

.content{
  background-color: white;
  border: 2px solid;
  border-color: rgba(151, 153, 54, 0.699);
  border-radius: 7px;
  width: 500px;
  height: auto;
}


.logo{
  height: 35%;
  padding-left:30%;
}
.logo_form{
  display: inline-block;
}

.text{
  margin-top: 5%;
  letter-spacing: 3px;
  font-size: 20px;
  color: rgb(100, 79, 16);
  text-align: left;
}

.bouton_retour{
  color: rgba(139, 116, 21, 0.72);
  border-radius: 5%;
  border: 1px solid rgba(139, 116, 23, 0.72);
  background-color: transparent;
  float: right;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
  font-size: medium;
  height: 35px;
}
.bouton_retour:hover{
  color: rgba(54, 45, 10, 0.72);
}
.bouton_retour:focus{outline: 0;}

.visiteur_bouton, .connexion_bouton, .inscription_bouton{
  border: none;
  color: rgb(98, 75, 5);
  background-color: transparent;
  text-align: center;
  font-size: 20px;
  padding: 16px;
  width:50%;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 25%;
  margin-right: auto;
  display: inline-block;
  position: relative;
} 
.visiteur_bouton, .connexion_bouton, .inscription_bouton{
  margin-top: 3%;
  margin-bottom: 5%;
}
.connexion_bouton{
  margin-bottom: 15%;
}
.visiteur_bouton:after, .connexion_bouton:after, .inscription_bouton:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 15px;
  right: 95%;
  transition: 0.5s;
}
.visiteur_bouton:hover, .connexion_bouton:hover, .inscription_bouton:hover{
  padding-right: 8px;
  padding-left:24px;
}
.visiteur_bouton:hover:after, .connexion_bouton:hover:after, .inscription_bouton:hover:after {
  opacity: 1;
  right: 85%;
}
.visiteur_bouton:focus, .inscription_bouton:focus, .connexion_bouton:focus{outline: 0;}


.title_page{
  letter-spacing: 2px;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
  font-size: 30px;
  margin-left:3%;
  color: rgb(116, 95, 12);
}
.title_page2{
  letter-spacing: 2px;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
  font-size: 30px;
  color:rgb(87, 73, 18);
  padding:20px;
  border:1px solid rgba(102, 84, 16, 0.78);
  border-right:none;border-left:none;
}
.subtitle{
  letter-spacing: 2px;
  width: fit-content;
  text-align: center;
  font-size: 22px;
  color:rgb(58, 49, 11);
  padding:15px;
}

.input_connexion {
  display: block;
  letter-spacing: 4px;
  text-align: center;
}

.input_form {
  margin: 5px;
  display: inline-block;
  letter-spacing: 3px;
  text-align: center;
}

input{
  margin-bottom: 5%;
  border: none;
  border-bottom: solid;
  border-bottom-width: 1px;
  background-color: transparent;
}
form{
  margin-top: 10%;
  margin-left: 5px;
  margin-right: 5px;
}

.age{
  margin-left: 15px;
}


.valider_bouton {
  background: transparent;
  width: 150px;
  height: 40px;
  color: rgb(98, 75, 5);
  border: 1px solid  rgb(98, 75, 5);
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}
.valider_bouton:hover, .valider_bouton:focus {
  color: rgb(65, 50, 6);
}
.valider_bouton:focus{outline: 0;}



.mdp{
  background-color: transparent;
  color: rgb(104, 89, 5);
  text-align: right;
  font-size: 18px;
  font-style: italic;
  text-decoration: none;
  width: 250px;
  height: 50px;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  margin-left: 40%;
  border: none;
}
.mdp:hover{
  color: rgb(3, 66, 35);
  border: none;
}
.mdp:focus{outline: 0;}

.div_buttons{
  margin: 7%;
}
.inscription_boutons{
  background: transparent;
  width: 150px;
  height: 50px;
  margin-bottom: 0;
  margin-left: 5%;
  margin-right: 5%;
  color: rgb(98, 75, 5);
  border: 1px solid  rgb(98, 75, 5);
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}
.inscription_boutons:hover, .inscription_boutons:focus {
  color: rgb(65, 50, 6);
}
.inscription_boutons:focus{outline: 0;}

.resume_area{
  resize:none;
  color:rgb(26, 21, 1);
  padding:10px;
  border:1px solid black;
  background-color:transparent;
}
.research_button{
  font-size:small;
  margin:0;
  padding:5px;
  float: right;
}

#results_message{
  font-size: large;
  letter-spacing: 2px;
  color: rgb(39, 44, 4);
  text-align: left;
}

#results{
  list-style: none;
}

.form_select{
  color: #000000;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  text-align: center;
  height: 40px;
}
